<ion-content>
    <div class="content">
      <div class="titulo">
          <h2>Recuperar contraseña</h2>
      </div>
      <div class="logo">
        <img src="assets/imgs/JOINN.jpg" alt="JOINN">
      </div>
      <div class="form">
          <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="  Email"></ion-input>
            </ion-item>
          </ion-list>
      </div>
      <div class="acciones">
        <span>Te enviaremos un email con tu nueva contraseña.</span>
        <button>Recuperar contraseña </button>
      </div>
    </div>
</ion-content>