page-recovery {
    .titulo {
        text-align: center;
        h2 {
            color: gray;
            font-size: 1em;
        }
    }

    .logo {
        margin-top: 2em 0;
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        img {
            height: 18em;
            width: 100%;
        }
    }

    .form {
        height: 35%;
        margin-top: 10%;
        ion-list {
            ion-item {
                width: 95%;
                margin: 0 auto;
                border: none !important;
                input {
                    border: 1px solid gray;
                    height: 2.7em;
                    border-radius: 5px;
                    margin: 12px;
                }
            }
        }
    }

    .acciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        button {
            margin-top: .5em;
            height: 3em;
            width: 90%;
            font-size: 1.2em;
            letter-spacing: 1px;
            background: #DADADA;
            color:  white;
            cursor: pointer;
        }
        span {
            font-size: .8em;
            color: gray;
            cursor: pointer;
        }
    }

}
