<ion-content>
  
    <div class="servicios-agregados-detalle">
      <div class="servicios-top">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" class="servicios-top-icon"></ion-icon>         
        <div class="servicios-title">COMPLETAR OPERACIÓN</div>  
      </div>
      <ion-list class="servicios-agregados-list">
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
        <div class="servicios-agregados-item">
          <div class="servicio-info">
            <div class="servicio-info-fecha">Del 04 al 06 de Diciembre</div>
            <div class="servicio-nombre">Jardineria</div>
          </div>
          <div class="servicio-agregado-valor">
            <div class="servicio-valor-title">Valor</div>
            <div class="servicio-valor-body">
              <span>$</span>
              <span class="servicio-valor-saldo-content">60.000</span>
            </div>
          </div>
        </div>
          
        <div class="servicios-agregados-total">
          <div class="servicios-valor-total">
            <span class="servicio-valor-text">VALOR TOTAL $</span>
            <span class="servicios-valor-total-saldo">330000</span>
          </div>
        </div>
  
        <div class="servicios-confirmar">CONFIRMAR</div>
      </ion-list>
  
      
    </div>
  
  </ion-content>
