page-added-services {
    .servicios-agregados-item {
        border-radius: 8px;
        margin: 2em 2.5em;
        box-shadow: 0 3px 13px #999;
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;
        color: #848484;
        background-color: #ffffff;
    }
    
    .servicio-info-fecha,.servicio-valor-title {
        font-size: 0.7em;
        font-style: oblique;
    }
    
    .servicio-nombre {
        font-weight: bold;
    }
    
    
    
    .servicio-valor-body {
        font-weight: bold;
    }
    
    .servicios-valor-total {
        border: 3px solid #999;
        display: inline-block;
        margin: 0%;
        padding: 1% 0.5%;
        border-radius: 8px;
        font-size: 1.4em;
        font-weight: bold;
        color: #676262;
    }
    
    .servicios-confirmar {
        background-color: #bdbdbd;
        padding: 1em;
        margin: 4% 6%;
        text-align: center;
        border-radius: 4px;
        color: white;
        transition: 250ms;
    }
    
    .servicios-confirmar:hover{
        background-color: rgb(43, 43, 43);
        color: #676262;
        box-shadow: 2px solid 
    }
    
    .servicios-agregados-detalle {
        background-color: #f7f7f7;
    }
    
    .servicios-agregados-total {
        width: 100%;
        text-align: center;
        margin: 11% 0;
    }
}
