<ion-content>
    <div class="content">
      <div class="titulo">
          <h2>Bienvenidos</h2>
      </div>
      <div class="logo">
        <img src="assets/imgs/JOINN.jpg" alt="JOINN">
      </div>
      <div class="form">
          <ion-list>
            <ion-item>
              <ion-input type="text" name="email" [(ngModel)]="username" placeholder="  Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="password" placeholder="  Contraseña"></ion-input>
            </ion-item>
          </ion-list>
      </div>
      <div class="acciones">
        <span (click)="goToRecoveryPassword()">¿Olvidaste tu contraseña?</span>
        <button (click)="login()">Ingresar</button>
      </div>
    </div>
</ion-content>
