page-login {
    .content {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    
    .titulo {
        text-align: center;
        h2 {
            color: gray;
            font-size: 1em;
        }
    }

    .logo {
        margin-top: 2em 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 45%;
        margin: 0 auto;
        text-align: center;
        img {
            height: 18em;
            width: 100%;
        }
    }

    .form {
        ion-list {
            ion-item {
                width: 95%;
                margin: 0 auto;
                border: none !important;
                input {
                    border: 1px solid #7B7B7B;
                    height: 2.7em;
                    border-radius: 5px;
                    margin: 12px;
                }
            }
        }
    }

    .acciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
        button {
            margin-top: .5em;
            height: 3em;
            width: 90%;
            font-size: 1.2em;
            letter-spacing: 1px;
            background: #DADADA;
            color: white;
            border-radius: 5px;
        }
        span {
            font-size: .8em;
            color: gray;
            cursor: pointer;
        }
    }

}
