<ion-content> 
  <div class="servicios-agregados-detalle">
    <div class="servicios-top">
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" class="servicios-top-icon"></ion-icon>         
      <div class="servicios-title">MIS COMPRAS</div>  
    </div>
    <ion-list class="servicios-agregados-list">
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
      <div class="servicios-agregados-item">
        <div class="servicio-info">
          <div class="servicio-info-fecha">04/12/17</div>
          <div class="servicio-nombre">Jardineria</div>
        </div>
        <div class="servicio-agregado-valor">
          <div class="servicio-valor-title">Valor</div>
          <div class="servicio-valor-body">
            <span>$</span>
            <span class="servicio-valor-saldo-content">60.000</span>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
  <ion-item class="servicios-logo">
    <ion-thumbnail item-start class="servicios-logo-content">
      <img class="servicios-logo-img" src="assets/imgs/JOINN.png">
    </ion-thumbnail>
  </ion-item>
</ion-content>