<ion-content padding>
  <div class="referenciar">
    <div class="referenciar-item">
      <div class="referenciar-title">
        <figure class="referenciar-title-logo">
          <img src="assets/imgs/JOINN.png" alt="logo">
        </figure>
        <div class="referenciar-title-content">
          REFERENCIAR
        </div>
      </div>
    </div>
    <div class="referenciar-item">
      <div class="referencia-label">
        <div class="referencia-label-title">
          Eliege a un amigo para que disfrute de JOINN
        </div>
        <div class="referencia-label-desc">
            No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor.
        </div>
      </div>
    </div>
    <div class="referenciar-item">
      <form action="" class="referenciar-form">
        <div class="referencia-campo">        
          <ion-input type="password" class="referencia-input" placeholder="Nombre"></ion-input>
        </div>
        <div class="referencia-campo">        
          <ion-input type="email" class="referencia-input" placeholder="Email"></ion-input>
        </div>
        <div class="referencia-campo">        
          <div class="referencia-submit">
              <button ion-button class="referencia-enviar">ENVIAR</button>
          </div>            
        </div>
      </form>
    </div>
  </div>
  <ion-item class="referencia-logo">
    <img class="referencia-logo-img" src="assets/imgs/JOINN.jpg">
  </ion-item>
</ion-content>
