<ion-content>
  <ion-list class="servicios">
    <div class="servicios-top">
        <ion-icon ios="ios-close-circle" md="md-close-circle" class="servicios-top-icon"></ion-icon>         
        <div class="servicios-title">MIS SERVICIOS</div>  
    </div>
    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <div class="servcio-body">
        <h2 class="servicio-title">Jet Sky</h2>
        <p class="servicio-description">Lorem Ipsum es simplemente el texto de
            relleno de las imprentas y archivos de texto.</p>
        
        <ion-icon ios="ios-add-circle" (click)="goToDetail()" md="md-add-circle" class="sercivio-add" ></ion-icon>
      </div>
    
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
        relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
          relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
          relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
          relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
          relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

    <ion-item class="servicio">
      <ion-thumbnail item-start class="servicio-figure">
        <img class="servicio-img" src="assets/imgs/jet-ski.png">
      </ion-thumbnail>
      <h2 class="servicio-title">Jet Sky</h2>
      <p class="servicio-description">Lorem Ipsum es simplemente el texto de
          relleno de las imprentas y archivos de texto.</p>
      
      <ion-icon ios="ios-add-circle" md="md-add-circle" class="sercivio-add" ></ion-icon>
      
    </ion-item>

  </ion-list>
  <ion-item class="servicios-aggregates" (click)="goToAddedServices()">
    <div class="servicios-aggregates-content">
        <div  class="servicios-aggregates-car servicios-agregates-content-item ">
          <ion-icon ios="ios-cart" md="md-cart" class="servicios-aggregates-car-icon "></ion-icon>
        </div>
        <div class="servicios-aggregates-body servicios-agregates-content-item">
          <h2 class="servicios-aggregates-title">ADQUIRIR SERVICIO(S)</h2>
          <ul class="servicios-aggregates-list">
            <li class="servicios-aggregates-item">Lavadora</li>
            <li class="servicios-aggregates-item">Jardineria</li>
            <li class="servicios-aggregates-item">Baby Care</li>
            <li class="servicios-aggregates-item">Prensa International</li>
          </ul>
          <span>Más</span>
        </div>
    </div>
    
  </ion-item>
  <ion-item class="servicios-logo">
    <ion-thumbnail item-start class="servicios-logo-content">
      <img class="servicios-logo-img" src="./assets/imgs/joinn.png">
    </ion-thumbnail>
  </ion-item>
</ion-content>
