<ion-content>
    <div class="escribenos">
        <div class="servicios-top">
          <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" class="servicios-top-icon"></ion-icon>         
          <div class="servicios-title">ESCRIBIR MENSAJE</div>  
        </div>
        <form action="" class="escribenos-form">
          <ion-item class="escribenos-campo">       
            <textarea type="text" class="escribenos-area" placeholder=""></textarea>
          </ion-item>
          <ion-item class="escribenos-item">       
            <div class="escribenos-submit">
              <div class="escribenos-informacion-button">ENVIAR</div>
              <div class="escribenos-informacion-adjunto">
                <ion-icon ios="ios-attach" md="md-attach" class="escribenos-informacion-icon"></ion-icon>
              </div>
            </div>
          </ion-item>
        </form>
    </div>
  </ion-content>
