<ion-content>
  <div (swipe)="navigateBySwip($event)" class="contenido">
    <div class="titulo">
      <h2>EVENTOS</h2>
    </div>
    <ion-list class="lista-eventos">
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono" (click)="goToEventDetail()">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono" (click)="goToEventDetail()">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono">+</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="icono">+</div>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="compras" (click)="goToShop()">
    <ion-icon ios="ios-card" md="md-cart"></ion-icon>
    <h3>Compras</h3>
  </div>
</ion-content>
