page-home {
    .contenido {
        background-color: #F7F7F7;
    }
    .titulo {
        text-align: center;
        h2 {
            color: gray;
            font-size: 1em;
            margin: 0;
            padding-top: 1.3em;
        }
    }
    .lista-eventos {
        .item {
            text-align: left;
            min-height: 5em;
            background-color: white;
            box-shadow: 2px gray;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 1em;
            width: 85%;
            margin: 1em auto;
            padding: 0;
            color:#7F7F7F;
            .evento-titulo {
                font-size: 1.3em;
                margin: 0.2em 0.4em 0 0.4em !important;
            }
            .evento-fecha {
                font-size: .7em;
                margin: 0 0.8em !important;
            }
            .evento-separador {
                width: 3em;
                height: .2em;
                margin: 0.5em;
                border-bottom: 2px solid #7F7F7F;
            }
            .evento-descripcion {
                color: #7F7F7F;
                font-size: .7em;
                margin-left: 0.7em;
                text-align: justify;
            }
            .evento-vermas {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                .icono {
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    background-color: #D9D9D9;
                    color: black;
                    padding: 5px 0 0 10px;
                    margin: 0 0.3em 0.3em;
                }
            }
        }
    }
    .compras {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 0;
        background-color: black;
        color: white;
        height: 3em;
        text-align: center;
        ion-icon {
            font-size: 2em;
            margin-right: 1em;
        }
        h3 {
            margin: 0;
        }
    }
}
