<ion-content >
  <div class="servicio">
      <div class="servicios-top">
          <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" class="servicios-top-icon"></ion-icon>         
          <div class="servicios-title">RESERVAR SERVICIO</div>  
      </div>
      <div class="servicio-body">
        <ion-card class="servicio-detalle-card">
          <ion-card-content class="servicio-detalle-desc">      
              <ion-card-title>
                  <span class="servicio-detalle-title">BBQ</span> 
              </ion-card-title>  
              <p class="servicio-detalle">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
              </p>
              <ion-item class="servicio-valor">
                <div class="servicio-valor-content">
                  <span>$</span><span class="servicio-monto">80000</span>
                </div>
              </ion-item>
          </ion-card-content>
        </ion-card>
        <div class="servicio-add">AGREGAR</div>
      </div>
  </div>
  

</ion-content>