<ion-content>
  <div class="content">
    <ion-icon class="close" (click)="close()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
    <div class="titulo">
      <h2>MIS COMPRAS</h2>
    </div>
    <div class="total-button">
      <button>SUBTOTAL: $130.000</button>
    </div>
  </div>
  <div class="lista-compras">
    <div class="item">
      <figure>
        <img src="assets/imgs/jose.jpg" alt="">
      </figure>
      <div class="item-detalle">
        <h2 class="item-titulo">Jose Cuervo</h2>
        <span class="item-fecha">$85.000</span>
        <div class="item-separador"></div>
        <span class="item-descripcion">
          Licor Jose Cuervo.
        </span>
      </div>
    </div>
    <div class="item">
      <figure>
        <img src="assets/imgs/jose.jpg" alt="">
      </figure>
      <div class="item-detalle">
        <h2 class="item-titulo">Jose Cuervo</h2>
        <span class="item-fecha">$85.000</span>
        <div class="item-separador"></div>
        <span class="item-descripcion">
          Licor Jose Cuervo.
        </span>
      </div>
    </div>
    <div class="item">
      <figure>
        <img src="assets/imgs/jose.jpg" alt="">
      </figure>
      <div class="item-detalle">
        <h2 class="item-titulo">Jose Cuervo</h2>
        <span class="item-fecha">$85.000</span>
        <div class="item-separador"></div>
        <span class="item-descripcion">
          Licor Jose Cuervo.
        </span>
      </div>
    </div>
    <div class="item">
      <figure>
        <img src="assets/imgs/jose.jpg" alt="">
      </figure>
      <div class="item-detalle">
        <h2 class="item-titulo">Jose Cuervo</h2>
        <span class="item-fecha">$85.000</span>
        <div class="item-separador"></div>
        <span class="item-descripcion">
          Licor Jose Cuervo.
        </span>
      </div>
    </div>
    <div class="item">
      <figure>
        <img src="assets/imgs/jose.jpg" alt="">
      </figure>
      <div class="item-detalle">
        <h2 class="item-titulo">Jose Cuervo</h2>
        <span class="item-fecha">$85.000</span>
        <div class="item-separador"></div>
        <span class="item-descripcion">
          Licor Jose Cuervo.
        </span>
      </div>
    </div> 
  </div>
  <div class="acciones">
    <div class="qr" (click)="openScanner()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </div>
    <div class="pagar">
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
    </div>
  </div>
</ion-content>
