page-shopping {
    .content {
        background-color: #F5F5F5;
        .close {
            display: inline-block;
            font-size: 1.5em;
            position: absolute;
            top: 2.5%;
            left: 5%;
            color: gray;
        }
        .titulo {
            text-align: center;
            h2 {
                color: gray;
                font-size: 1em;
            }
        }
        .total-button {
            width: 100%;
            text-align: center;
            button {
                height: 2.5em;
                color: white;
                width: 80%;
                margin: 2em auto 0 auto;
                background-color: gray;
                border-radius: 15px;
            }
        }
    
        .lista-compras {
            margin-top: 2em;
            width: 100%;
            .item {
                width: 85%;
                display: flex;
                flex-direction: row;
                border-bottom: 2px solid gray;
                margin: 1.5em auto 0 auto;
                height: 8em;
                figure {
                    margin: 0;
                    width: 40%;
                    height: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .item-detalle {
                    width: 60%;
                    color: gray;
                    .item-titulo {
                        font-size: 1.3em;
                        margin: 0.2em 0.4em 0 0.4em !important;
                    }
                    .item-fecha {
                        font-size: .7em;
                        margin: 0 0.8em !important;
                    }
                    .item-separador {
                        width: 3em;
                        height: .2em;
                        margin: 0.5em;
                        border-bottom: 2px solid gray;
                    }
                    .descripcion {
                        width: 100%;
                        text-align: center;
                    }
                    .item-descripcion {
                        color: gray;
                        font-size: .7em;
                        margin-left: 0.7em;
                    }
                }
            }
        }
        .acciones {
            position: fixed;
            height: 4em;
            bottom: 0%;
            width: 91%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            left: 2%;
            background-color: #F7F7F7;
            z-index: 999;
            .qr, .pagar {
                width: 3em;
                height: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background: gray;
                border-radius: 50%;
                ion-icon {
                    font-size: 1.5em;
                    color: white;
                }
            }
        }
    }
    
}
