<ion-content>
  <div class="pefil-informacion">
    <div class="servicios-top">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" class="servicios-top-icon"></ion-icon>         
        <div class="servicios-title">MI PERFIL</div>  
    </div>
    <figure class="perfil-avatar">
        <img src="assets/imgs/avatar.jpg" alt="Foto de perfil">
        <div class="perfil-avatar-camera">
          <ion-icon ios="ios-camera" md="md-camera" class="perfil-avatar-camera-icon"></ion-icon>
        </div>        
    </figure>
    <form action="" class="perfi-informacion-form">
      <ion-item class="perfil-informacion-campo">       
        <ion-input type="text" class="perfil-informacion-input" placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item class="perfil-informacion-campo">       
        <ion-input type="email" class="perfil-informacion-input" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item class="perfil-informacion-campo">       
        <ion-input type="text" class="perfil-informacion-input" placeholder="Teléfono"></ion-input>
      </ion-item>
    
      <ion-item class="perfil-informacion-campo">        
        <ion-input type="password" class="perfil-informacion-input" placeholder="Constraseña"></ion-input>
      </ion-item>

    </form>

    <div class="perfil-informacion-footer">
      <div class="perfil-informacion-footer-button">GUARDAR</div>
    </div>
  </div>
</ion-content>