<ion-content>
    <div class="contenido">
        <div class="encabezado">
            <h2>Mantenimiento</h2>
            <span>2 días, 12 horas, 30 minutos</span>
        </div>
        <div class="descripcion">
            <h2>Haremos mantenimiento al sistema electrico de 8 a 11pm</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores cum tempore, aut nemo dignissimos sequi cumque, hic unde dolor cupiditate, fugit magnam facilis corporis velit suscipit veritatis. Quos, optio adipisci.</p>
        </div>
        <div class="logo">
            <img src="assets/imgs/JOINN.png" alt="JOINN">
        </div>
        <div class="acciones">
            <button>Me gusta</button>
            <button>No me gusta</button>
        </div>
    </div>
</ion-content>