page-event-detail {
    .contenido {
        .encabezado {
            height: 15em;
            display: flex;
            color: white;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-image: url("../assets/imgs/evento.jpg");
            background-size: cover;
            h2 {
                margin: 0 auto;
                padding: 10px 0 0 0;
            }
        }
        .descripcion {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .logo {
            width: 80%;
            margin: 0 auto;
            img {
                height: 20em;
                width: 100%;
            }
        }
        .acciones {
            display: flex;
            flex-direction: row;
            justify-content: center;
            button {
                margin: 1em;
            }
        }
    }
}