<ion-content>
  <div class="contenido">
      <ion-icon class="close" (click)="close()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
    <div class="titulo">
      <h2>MIS EVENTOS</h2>
    </div>
    <ion-list class="lista-eventos">
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
      <div class="item">
        <h2 class="evento-titulo">Noche Mexicana</h2>
        <span class="evento-fecha">15 Nov / 7:00pm</span>
        <div class="evento-separador"></div>
        <span class="evento-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora, ea laudantium voluptas eius dolore harum at eaque maxime doloremque. Ad, error sed corporis veritatis esse recusandae ducimus eum tenetur.
        </span>
        <div class="evento-vermas">
          <div class="">x 3 personas</div>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="logo">
    <img src="assets/imgs/JOINN.png" alt="">
  </div>
</ion-content>
